<body class="BodyIndexC" style="overflow: auto">
  <header class="headermas">
    <div class="headerIndexC">
      <img
        src="../../assets/img/LogoConti.png"
        alt="Continental"
        class="imgLogoIndexC"
      />
      <h1 class="h1CensoB">CENSO Bienestar</h1>
      <div>
        <button (click)="logout()" class="btnIndexC" type="submit">Cerrar sesión</button>
      </div>
    </div>
  </header>

  <div class="ContendorPageAngular00">
    <div class="content-titulo">
      <div class="Content-btn-folio2">
        <button (click)="addNewTicket()" class="btnIndexC1" type="submit">Crear folio</button>
      </div>
    </div>
    <!--</div>-->
    <div class="ContendorPageAngular1">
      <div class="ContendorPageAngular">
        <div class="ContendorPageAngular">
          <form action="" class="">
            <div class="md-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    (click)="getTicketStatus(ticketId.value)"
                    id="open"
                    type="button"
                    class="btnbuscarF"
                  >
                    Buscar Folio
                  </button>
                </div>
                <input
                  #ticketId
                  type="number"
                  class="form-control"
                  placeholder=""
                  aria-label=""
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </form>

          <table class="table" *ngIf="!searchFlag">
            <thead>
              <tr>
                <td scope="col">Folio</td>
                <td scope="col">Contenido</td>
                <td scope="col">Localidad</td>
                <td scope="col">Tema</td>
                <td scope="col">Pregunta</td>
                <td scope="col">Estatus</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of userTickets" (click)="getTicketStatus(ticket.rId)">
                <td>{{ ticket.rId }}</td>
                <td>{{ ticket.rIssue }}</td>
                <td>{{ ticket.lName }}</td>
                <td>{{ ticket.tName }}</td>
                <td>{{ ticket.qName }}</td>
                <td>{{ ticket.rsStatus }}</td>
              </tr>
            </tbody>
          </table>

          <!-- <ng-template *ngIf="searchFlag"> -->
            <div class="ModalContenidoBusq" id="ModalContenidoBusq">
              <div class="ModalContenido1Busq">

                <div *ngIf="searchFlag" class="tabalaAnonima1">
                  <div class="tituloFolioAnonimo">
                    <P>STATUS</P>
                  </div>
                  <div class="respTabla2">
                    <div class="contenedores">
                      <div class="titulos">
                        <p>Empleado:</p>
                      </div>
                      <div class="textosContenido">
                        <p>{{ ticketStatus.rUserId }}</p>
                      </div>
                    </div>
                    <div class="contenedores">
                      <div class="titulos">
                        <p>Nombre:</p>
                      </div>
                      <div class="textosContenido">
                        <p>{{ ticketStatus.rUserName }}</p>
                      </div>
                    </div>
                    <div class="contenedores">
                      <div class="titulos">
                        <p>Caso:</p>
                      </div>
                      <div class="textosContenido">
                        <p>{{ ticketStatus.rIssue }}</p>
                      </div>
                    </div>
                    <div class="contenedores">
                      <div class="titulos">
                        <p>Status:</p>
                      </div>
                      <div class="textosContenido">
                        <p>{{ ticketStatus.rsStatus }}</p>
                      </div>
                    </div>

                    <ng-template *ngIf="answerFlag">
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Atiende:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ responsable.uName }}</p>
                        </div>
                      </div>
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Respuesta:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ responsable.request }}</p>
                        </div>
                      </div>
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Se respondio:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ responsable.asCreationDate }}</p>
                        </div>
                      </div>
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Archivo Adjunto:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ ticketStatus.asAttachement }}</p>
                        </div>
                      </div>
                    </ng-template>
                    
                  </div>
                  <button
                    id="close"
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="cerrarPopup()"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          <!-- </ng-template> -->
          

        </div>
      </div>
    </div>
  </div>
</body>
