<div class="contenido1">
    <div class="buscar">
        <h1>Reportes</h1>
    </div>

    <hr>
    <form [formGroup]="filterBy" (ngSubmit)=filter() class="row g-3 needs-validation" action="">
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Desde :</label>
            <input formControlName="from" type="date" class="form-control" >
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Hasta :</label>
            <input formControlName="to" type="date" class="form-control" >
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Tema :</label>
            <select formControlName=theme id="inputState" class="form-select">
                <option *ngFor="let theme of Theme" value="{{ theme.tName }}">{{ theme.tName }}</option>
            </select>
        </div>
        <div class="contentañadirTem">
            <button class="btnIndexC" type="submit">Buscar</button>
            &nbsp;
            <button (click)="exportToExcel()" class="btnIndexC" type="submit">Exportar</button>
        </div>
    </form>
    <hr>
    <div class="tablaReporte">
    <table  class="table table-dark table-sm">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Numero de empleado</th>
                <th>Nombre empleado</th>
                <th>Contenido</th>
                <th>Archivo adjunto</th>
                <th>Numero de supervisor</th>
                <th>Tipo de empleado</th>
                <th>Fecha de creación</th>
                <th>Localidad</th>
                <th>Tema</th>
                <th>Pregunta</th>
                <th>Área</th>
                <th>Estatus</th>
                <th>Folio de respuesta</th>
                <th>Respuesta</th>
                <th>Archivo adjunto</th>
                <th>Fecha de respuesta</th>
                <th>Numero de empleado asignado</th>
                <th>Nombre de empleado asignado</th>
                <th>Email de empleado asignado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketList">
                <th>{{ ticket.ticketId }}</th>
                <th>{{ ticket.userId }}</th>
                <th>{{ ticket.userName }}</th>
                <th>{{ ticket.Issue }}</th>
                <th>{{ ticket.Attachement }}</th>
                <th>{{ ticket.enployeeLeader }}</th>
                <th>{{ ticket.employeeType }}</th>
                <th>{{ ticket.creationDate | date: "shortDate" }}</th>
                <th>{{ ticket.location }}</th>
                <th>{{ ticket.theme }}</th>
                <th>{{ ticket.question }}</th>
                <th>{{ ticket.area }}</th>
                <th>{{ ticket.status }}</th>
                <th>{{ ticket.asId }}</th>
                <th>{{ ticket.asAnswer }}</th>
                <th>{{ ticket.asAttachement }}</th>
                <th>{{ ticket.asCreationDate | date: "shortDate" }}</th>
                <th>{{ ticket.uEmployeeNumber }}</th>
                <th>{{ ticket.uName }}</th>
                <th>{{ ticket.uEmail }}</th>
            </tr>
        </tbody>
    </table>
</div>

</div>