<div class="contenido1">
    <div class="buscar">
        <h1>Reportes</h1>
    </div>

    <hr>
    <form class="row g-3 needs-validation" action="">
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Desde :</label>
            <input type="date" class="form-control" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Hasta :</label>
            <input type="date" class="form-control" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Tipo :</label>
            <select id="inputState" class="form-select">
                <option selected>Todos</option>
                <option>Inactivo</option>
            </select>
        </div>
        <div class="contentañadirTem">
            <button class="btnIndexC" type="submit">Buscar</button>
        </div>
    </form>
    <hr>

    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Planta</th>
                <th>Tema</th>
                <th>Area</th>
                <th>Tipo de empleado</th>
                <th>Num empleado</th>
                <th>Num empleado lider</th>
                <th>Status</th>
                <th>Ticket</th>
                <th>Num RH empleado</th>
                <th>Respuesta</th>
                <th>Fecha creacion</th>
                <th>Fecha cierre</th>
                <th>Acciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{area.aId}}</td>
                <td>{{area.aName}}</td>
                <td>{{area.lName}}</td>
                <td>{{area.aId}}</td>
                <td>{{area.aName}}</td>
                <td>{{area.lName}}</td>
                <td>{{area.aId}}</td>
                <td>{{area.aName}}</td>
                <td>{{area.lName}}</td>
                <td>{{area.aId}}</td>
                <td>{{area.aName}}</td>
                <td>{{area.lName}}</td>
                <td>{{area.lName}}</td>
                <td>
                    <button class="btn btn-danger">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>