<div class="contenido1">
    <div class="buscar">
    <h1>Ubicación</h1>
    <button class="btnIndexC" type="submit">Añadir Ubicación</button>
  </div>
  
  <hr>
  
  <!-- Inifio del Form -->
  <form [formGroup]="newLocation" (ngSubmit)="addNewLocation()" class="row g-3">
    <h1>Añadir Ubicación</h1>
    
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input formControlName="lName" type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Estatus</label>
      <select formControlName="lStatus" id="inputState" class="form-select">
        <option value=true >Activo</option>
        <option value=false >Inactivo</option>
      </select>
    </div>
    
    
    <div class="col-12">
      <button [disabled]="newLocation.invalid" class="btnIndexC" type="submit">Añadir</button>
    </div>
  </form>
  <!-- Fin del Form -->
    <hr>
    
      <form class="form-search">
        <input #locationId class="Search1" type="number" placeholder="Id location" aria-label="Search">
        <button (click)="search(locationId.value)" class="btnIndexC" type="submit">Buscar</button>
      </form>
      <hr>
      <table class="table table-dark table-sm">
        <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!location; else elseTemplate">
          <tr *ngFor="let location of locations">
            <td>{{ location.lId }}</td>
            <td>{{ location.lName }}</td>
            <td>{{ location.lStatus }}</td>
            <td>
                <button (click)="deleteLocation(location.lId)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td>{{ location.lId }}</td>
            <td>{{ location.lName }}</td>
            <td>{{ location.lStatus }}</td>
            <td>
                <button (click)="deleteLocation(location.lId)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
      </table>
</div>