<style>


</style>

<div class="body2">

<div class="container">
    <div class="card">
        <div class="car-header">
            <h3>Localidades</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let location of locations" class="text-center">
                        <td>{{ location.lId }}</td>
                        <td>{{ location.lName }}</td>
                        <td>{{ location.lStatus }}</td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>