<body class="BodyIndexC">
    <header>
        <div class="headerIndexC">
        <img src="img/LogoConti.png" alt="Continental" class="imgLogoIndexC">
        <h1 class="h1CensoB">CENSO Bienestar</h1>
        <div>
        <button class="btnIndexC" type="submit">Folio</button>
        <button class="btnIndexC" type="submit">Consultar Folio</button>
      </div>
    </div>
    </header>

        <div class="ContendorPageBusqueda">

          <h1 class="h1CensoB">Busca tu folio aqui </h1>
                  <form action="" class="">
                    <div class="md-3">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button">Buscar Folio</button>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </form>
                    
                    <div class="card-body">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Theme</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="text-center">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>

                              </tr>
                          </tbody>
                      </table>
                  </div>

    </div>

</body>