<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>Index conti</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="BodyIndexC">
    <header>
        <div class="headerIndexC">
        <img src="img/LogoConti.png" alt="Continental" class="imgLogoIndexC">
        <h1 class="h1CensoB">CENSO Bienestar</h1>
        <div>
          <button class="btnIndexC" type="submit">Folio</button>
          <button class="btnIndexC" type="submit">Consultar Folio</button>
          <button class="btnIndexC" type="submit">Cerrar sesión</button>
      </div>
    </div>
    </header>

        <div class="ContendorPageBusqueda">

          <h1 class="h1CensoB">Busca tu folio aquí</h1>
                  <form action="" class="">
                    <div class="md-3">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button">Buscar Folio</button>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </form>
                    
                    <div class="card-body">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Nombre</th>
                                  <th>Tema</th>
                                  <th>Estatus</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="text-center">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>

                              </tr>
                          </tbody>
                      </table>
                  </div>

    </div>

</body>
</html>