<body class="BodyIndexC">
    <header>
        <div class="headerIndexC">
        <img src="../../assets/img/LogoConti.png" alt="Continental" class="imgLogoIndexC">
        <h1 class="h1CensoB">CENSO Bienestar</h1>
        <button  class="btnIndexC" type="submit">iniciar Sesion</button>
    </div>
    </header>
    <div class="contenedorIndexC">
        <img src="../../assets/img/CensoBienestar.png" alt="" width="95%" class="imgBienestarC">
        <hr class="hr">
        <div class="ContainerIndexC1">
            <button  class="btnIndexOPC" type="submit">Registro con datos</button>
            <button  class="btnIndexOPC" type="submit">Registro anonimo</button>
            <a [routerLink]="['folioanonimoindex']">ruta</a>
            
            <hr class="hr">
        </div>
        <div class="ContendorPageAngular0">
         <app-folioanonimoindex></app-folioanonimoindex>
  </div>
    </div>
    <footer class="footerIndexC">
        <img src="../../assets/img/imgJalisco.png" alt="" class="imgJaliscoC">
    </footer>
</body>