<body class="Bodydashboard">

  <header class="headerDash">
    <img src="../../assets/img/LogoConti.png" alt="" class="imgLogoDash">
    <h1 class="h1CensoB">CENSO Panel</h1>
    <div>
      <button class="btnIndexC" type="submit">Cerrar Sesion</button>
    </div>
  </header>
  <div class="contenedorFlex">
    <div class="leftDash">
      <div class="NomUsuario">
        <h3>Bienvenido</h3>
        <p>Usuario</p>
        <hr>
      </div>
      <div class="options">

        <ul>
          <li><button type="submit" (click)="navegarUsuarios()" onclick="noMostrar()" class="btnDash">Users</button>
          </li>
          <li><button type="submit" (click)="navegarLocalidades()" onclick="noMostrar()"
              class="btnDash">Locations</button></li>
          <li><button type="submit" (click)="navegarTemas()" onclick="noMostrar()" class="btnDash">Topics</button></li>
          <li><button type="submit" (click)="navegarTikets()" onclick="noMostrar()" class="btnDash">Tikets</button></li>
          <li><button type="submit" (click)="navegarAreas()" onclick="noMostrar()" class="btnDash">Areas</button></li>
          <li><button type="submit" (click)="navegarPreguntas()" onclick="noMostrar()"
              class="btnDash">Questions</button></li>
        </ul>

      </div>
    </div>
    <div class="Contenido">
      <!--poner contenido aqui-->
      <router-outlet></router-outlet>
    </div>
  </div>
</body>