<body class="Bodydashboard">
  
    <header class="headerDash">
  <img src="img/LogoConti.png" alt="" class="imgLogoDash">
  <h1 class="h1CensoB">CENSO Panel</h1>
      <div>
        <button class="btnIndexC" type="submit">Cerrar Sesion</button>
      </div>
    </header>
    <div class="contenedorFlex">
    <div class="leftDash">
      <div class="NomUsuario">
      <h3>Bienvenido</h3>
      <p>Usuario</p>
      <hr>
    </div>
        <div class="options">
          
          <ul>
            
            <li><button type="submit" class="btnDash">Users</button></li>
            <li><button type="submit" class="btnDash">Locations</button></li>
            <li><button type="submit" class="btnDash">Topics</button></li>
            <li><button type="submit" class="btnDash">Tikets</button></li>
            <li><button type="submit" class="btnDash">Areas</button></li>
            <li><button type="submit" class="btnDash">Questions</button></li>
        </ul>
  
      </div>
    </div>
    <div class="Contenido">
      <!--poner contenido aqui-->
      
    </div>
  </div>  
  </body>