<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>Index conti</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="Bodydashboard">
  
  <header class="headerDash">
<img src="img/LogoConti.png" alt="" class="imgLogoDash">
<h1 class="h1CensoB">CENSO Panel</h1>
    <div>
      <button class="btnIndexC" type="submit">Cerrar Sesión</button>
    </div>
  </header>
  <div class="contenedorFlex">
  <div class="leftDash">
    <div class="NomUsuario">
    <h3>Bienvenido</h3>
    <p>Usuario</p>
    <hr>
  </div>
      <div class="options">
        
        <ul>
          
          <li><button type="submit" class="btnDash">Usuarios</button></li>
          <li><button type="submit" class="btnDash">Ubicaciones</button></li>
          <li><button type="submit" class="btnDash">Temas</button></li>
          <li><button type="submit" class="btnDash">Tikets</button></li>
          <li><button type="submit" class="btnDash">Áreas</button></li>
          <li><button type="submit" class="btnDash">Preguntas</button></li>
      </ul>

    </div>
  </div>
  <div class="Contenido">
    <!--poner contenido aqui-->
    
  </div>
</div>  
</body>
</html>