<style>


</style>

<div class="body2">

<div class="container">
    <div class="card">
        <div class="car-header">
            <h3>Temas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let th of theme" class="text-center">
                        <td>{{ th.themeId }}</td>
                        <td>{{ th.theme_Name }}</td>
                        <td>{{ th.location_Name }}</td>
                        <td>{{ th.user_Name }}</td>
                        <td>{{ th.theme_Status }}</td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>