<div class="contenido1">
  <div class="buscar">
    <h1>Tema</h1>
    <button class="btnIndexC" type="submit" onclick="mostrarContenido()">
      Añadir tema
    </button>
  </div>

  <hr />

  <div id="contenido">
    <!-- Inicio Form -->
    <form [formGroup]="newTheme" (ngSubmit)="addNewTheme()" class="row g-3">
      <h1>Añadir tema</h1>
      <!-- Name -->
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre del tema</label>
        <input
          formControlName="tName"
          type="email"
          class="form-control"
          id="inputEmail4"
        />
      </div>
      <!-- Location -->
      <div class="col-md-6">
        <label for="inputState" class="form-label">Ubicación</label>
        <select
          formControlName="LocationId"
          id="inputState"
          class="form-select"
        >
          <option *ngFor="let location of Locations" value="{{ location.lId }}">
            {{ location.lName }}
          </option>
        </select>
      </div>
      <!-- Estatus -->
      <div class="col-md-4">
        <label for="inputState" class="form-label">Estatus</label>
        <select formControlName="tStatus" id="inputState" class="form-select">
          <option value="true" selected>Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
      <!-- <div class="col-md-4">
      <label for="inputState" class="form-label">Preguntas</label>
      <select id="inputState" class="form-select">
        <option selected>pregunta 1</option>
        <option>pregunta 2</option>
      </select>
    </div> -->

      <!-- Boton registro -->
      <div class="col-12">
        <button [disabled]="newTheme.invalid" class="btnIndexC" type="submit">
          Añadir
        </button>
      </div>
    </form>
    <!-- Fin Form -->
    <hr />
  </div>
  <form class="form-search">
    <input
      #idTheme
      class="Search1"
      type="number"
      placeholder="Buscar"
      aria-label="Search"
    />
    <button (click)="search(idTheme.value)" class="btnIndexC" type="submit">
      Buscar
    </button>
  </form>
  <hr />
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Localidad</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!th; else elseTemplate">
        <tr *ngFor="let th of Theme">
          <td>{{ th.tId }}</td>
          <td>{{ th.tName }}</td>
          <td>{{ th.lName }}</td>
          <td>{{ th.tStatus }}</td>
          <td>
            <button (click)="deleteTheme(th.tId)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr>
          <td>{{ th[0].tId }}</td>
          <td>{{ th[0].tName }}</td>
          <td>{{ th[0].lName }}</td>
          <td>{{ th[0].tStatus }}</td>
          <td>
            <button (click)="deleteTheme(th[0].tId)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
