<body class="BodyIndexC" style="overflow: auto">
  <header>
    <div class="headerIndexC">
      <img
        src="assets/img/LogoConti.png"
        alt="Continental"
        class="imgLogoIndexC"
      />
      <h1 class="h1CensoB">CENSO Bienestar</h1>
      <button class="btnIndexC" (click)="navegarLogin()" type="submit">
        Iniciar sesión
      </button>
    </div>
  </header>
  <div class="contenedorIndexC">
    <img
      src="assets/img/CensoBienestar.png"
      alt=""
      width="95%"
      class="imgBienestarC"
    />
    <hr class="hr" />
    <div class="ContainerIndexC1">
      <button class="btnIndexOPC" type="button" (click)="navegarLogin()">
        Registro con datos
      </button>
      <button class="btnIndexOPC" type="button" onclick="mostrarRegistro()">
        Registro anónimo
      </button>
      <!-- <button  type="button" (click)="navegarLogin()">nuevo boton</button>
      <a [routerLink]="[ '.', 'login' ]">Nuevo enlace</a> -->
      <!-- <a routerLink="/login">
        Registro con datos
      </a> -->
      <!-- <a [routerLink]="['folioanonimoindex']">ruta</a> -->

      <hr class="hr" />
    </div>
    <div class="ContendorPageAngular0" id="registro">
      <div class="Content-btn-folio" id="consultarf">
        <h3>Puedes consultar tus folios dando clic aquí</h3>
        <button class="btnIndexC1" type="submit" onclick="mostrarbuscar()">
          Consultar Folio
        </button>
      </div>

      <div class="ContendorPageAngular1">
        <div class="ContendorPageAngular" id="registro01">
          <!-- Inicio del FORM 
                    el form se enlaza con la variable bodyRequest del Component por medio de [formGroup]
                    se llama al método registerRequest por medio de la directiva (ngSubmit)-->
          <form
            [formGroup]="bodyRequest"
            (ngSubmit)="registerAnonRequest()"
            class="row g-3 needs-validation"
            novalidate
          >
            <!-- <form class="row g-3 needs-validation" novalidate> -->

            <div class="md-3">
              <!-- ******** tipo de empleado ********** -->
              <!-- cada campo esta reacionado con una variable en el Component llamada igual que
                        el contenido de formControlName -->
              <label class="form-label">Tipo de Empleado(a)</label>
              <select
                formControlName="arEmployeeType"
                class="form-select"
                required
              >
                <option value="1">Administrativo</option>
                <option value="2">Operario</option>
              </select>
              <div class="invalid-feedback">Selecciona una opcion.</div>
            </div>

            <!-- Campo de localidad -->
            <div class="md-3">
              <label class="form-label">Localidad</label>
              <select
                #locationId
                formControlName="LocationId"
                (change)="defineLocation(locationId.value)"
                class="form-select"
                required
              >
                <option
                  *ngFor="let location of Locations"
                  value="{{ location.lId }}"
                >
                  {{ location.lName }}
                </option>
              </select>
              <div class="invalid-feedback">Selecciona una opción.</div>
            </div>

            <!--agregue este campo del tema-->
            <div class="md-3">
              <label class="form-label">Tema</label>
              <select
                #themeId
                formControlName="ThemeId"
                (change)="getQuestions(themeId.value)"
                class="form-select"
                required
              >
                <option *ngFor="let th of Theme" value="{{ th.tId }}">
                  {{ th.tName }}
                </option>
              </select>
              <div class="invalid-feedback">Selecciona una opción.</div>
            </div>

            <div class="md-3">
              <!-- *********** tipo de registro ************ -->
              <label class="form-label">Pregunta</label>
              <!-- Recorremos el arreglo questions para mostrar cada uno de sus elemetnos -->
              <select formControlName="QuestionId" class="form-select" required>
                <option
                  *ngFor="let question of Questions"
                  value="{{ question.qId }}"
                >
                  {{ question.qName }}
                </option>
              </select>
              <div class="invalid-feedback">Selecciona una opcion.</div>
            </div>

            <div class="mb-3">
              <!-- ************ nave del trabajador ***************** -->
              <label class="form-label">Area</label>
              <select formControlName="AreaId" class="form-select" required>
                <option *ngFor="let area of Areas" value="{{ area.aId }}">
                  {{ area.aName }}
                </option>
              </select>
              <div class="invalid-feedback">Selecciona una opcion.</div>
            </div>

            <div class="mb-3">
              <!-- ************* contenido de la solicitud ************** -->
              <label for="exampleFormControlTextarea1" class="form-label"
                >¿Qué necesitas decirnos?</label
              >
              <textarea
                formControlName="arIssue"
                maxlength="499"
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                required
              ></textarea>
            </div>

            <div>
              <!-- ************ archivo de evidencia ************** -->
              <label for="formFileLg" class="form-label"
                >Evidencia (Opcional)</label
              >
              <input
                #fileUpload
                formControlName="arAttachemen"
                class="form-control form-control-lg"
                id="formFileLg"
                type="file"
                (change)="onFileSelected($event)"
              />
            </div>

            <div class="col-12">
              <!-- ******************* terminos y condicionees ******************* -->
              <div class="form-check">
                <input
                  formControlName="Terminos"
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="invalidCheck"
                  required
                />
                <label class="form-check-label" for="invalidCheck">
                  He leido el presente
                  <a
                    href="http://glas822a:8001/media/uploads/aviso_privacidad.pdf"
                    >aviso de privacidad</a
                  >
                  y acepto el tratamiento de mis datos personales por
                  Continental.
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <!-- **************** botón de envio del formulario **************** -->
            <div class="col-12">
              <!-- validacion de contenido de formulario valido -->
              <button *ngIf="folioSent"
                [disabled]="bodyRequest.invalid"
                class="btnIndexC1"
                type="submit"
              >
                Crear folio de reporte
              </button>
              <!-- <button class="btnIndexC1" type="submit">Crear folio de reporte</button> -->
            </div>
          </form>
          <!-- fin del FORM -->
        </div>
      </div>
      <!-- ================================================================================================================================= -->
      <!-- Comienza panel de busqueda -->
      <div class="contenedorPageAngular01" id="buscar">
        <div class="contenedorPageAngular02">
          <div class="ContendorPageAngular">
            <form action="" class="">
              <div class="md-3">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button
                      (click)="searchFolio(folioId.value)"
                      class="btn btn-outline-secondary"
                      type="button"
                      class="btnbuscarF"
                    >
                      Buscar Folio
                    </button>
                  </div>
                  <input
                    #folioId
                    type="number"
                    class="form-control"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </form>
            <div class="ModalContenidoBusq" id="ModalContenidoBusq">
              <div class="ModalContenido1Busq">
                <div *ngIf="folio" class="tabalaAnonima1">
                  <div class="tituloFolioAnonimo">
                    <P>STATUS</P>
                  </div>
                  <div class="respTabla2">
                    <div *ngIf="folio">
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Folio:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ folio.arId }}</p>
                        </div>
                      </div>
                      <!-- <div class="contenedores">
                        <div class="titulos">
                          <p>Nombre:</p>
                        </div>
                        <div class="textosContenido">
                          <p>Nombre Empleado</p>
                        </div>
                      </div> -->
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Caso:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ folio.arIssue }}</p>
                        </div>
                      </div>
                      <div class="contenedores">
                        <div class="titulos">
                          <p>Status:</p>
                        </div>
                        <div class="textosContenido">
                          <p>{{ folio.rsStatus }}</p>
                        </div>
                      </div>

                      <!-- <ng-template *ngIf="answerFlag"> -->
                        <div *ngIf="answerFlag">
                          <div class="contenedores">
                            <div class="titulos">
                              <p>Atiende:</p>
                            </div>
                            <div class="textosContenido">
                              <p>{{ responsable.uName }}</p>
                            </div>
                          </div>
                          <div class="contenedores">
                            <div class="titulos">
                              <p>Respuesta:</p>
                            </div>
                            <div class="textosContenido">
                              <p>{{ responsable.asAnswer }}</p>
                            </div>
                          </div>
                          <div class="contenedores">
                            <div class="titulos">
                              <p>Se respondio:</p>
                            </div>
                            <div class="textosContenido">
                              <p>{{ responsable.asCreationDate | date: "mediumDate" }}</p>
                            </div>
                          </div>
                          <div class="contenedores">
                            <div class="titulos">
                              <p>Archivo Adjunto:</p>
                            </div>
                            <div class="textosContenido">
                              <p>
                                <a *ngIf="haveAttachement" target="_blank" href="{{ responsable.asAttachement }}">Archivo adjunto</a>
                              </p>
                            </div>
                          </div>

                        </div>
                      <!-- </ng-template> -->
                    </div>
                  </div>
                  <button
                    id="close"
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="cerrarPopup()"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<app-folioanonimoindex></app-folioanonimoindex>-->
    </div>
  </div>

  <footer class="footerIndexC">
    <img src="assets/img/imgJalisco.png" alt="" class="imgJaliscoC" />
  </footer>
</body>
