<div class="contenido1">
  <div class="buscar">
    <h1>Tikets</h1>
    <button class="btnIndexC" type="submit">Añadir tiket</button>
  </div>

  <hr />
  <form class="form-search">
    <input
      #tiketId
      class="Search1"
      type="number"
      placeholder="Buscar"
      aria-label="Search"
    />
    <button (click)="search(tiketId.value)" class="btnIndexC" type="submit">
      Buscar
    </button>
  </form>
  <hr />
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tema</th>
        <th>Pregunta</th>
        <th>Nombre usuario</th>
        <th>Asunto</th>
        <th>Área</th>
        <th>Status</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!flag; else elseTemplate">
        <!-- Tikets con datos -->
        <tr *ngFor="let tiket of Tikets">
          <td>{{ tiket.rId }}</td>
          <td>{{ tiket.tName }}</td>
          <td>{{ tiket.qName }}</td>
          <td>{{ tiket.rUserName }}</td>
          <td>{{ tiket.rIssue }}</td>
          <td>{{ tiket.aName }}</td>
          <td>{{ tiket.rsStatus }}</td>
          <td>
            <button (click)="ticketResponse(tiket.rId)" class="btn btn-danger">
              Responder
            </button>
            <button (click)="deleteTicket(tiket.rId)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
        <!-- Tikets anonimos -->
        <tr *ngFor="let anonTiket of AnonTikets">
          <td>{{ anonTiket.arId }}</td>
          <td>{{ anonTiket.tName }}</td>
          <td>{{ anonTiket.qName }}</td>
          <td></td>
          <td>{{ anonTiket.arIssue }}</td>
          <td>{{ anonTiket.aName }}</td>
          <td>{{ anonTiket.rsStatus }}</td>
          <td>
            <button
              (click)="ticketResponse(anonTiket.arId)"
              class="btn btn-danger"
            >
              Responder
            </button>
            <button
              (click)="deleteTicket(anonTiket.arId)"
              class="btn btn-danger"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <ng-container *ngIf="!anonTicket; else elseTemplate">
          <tr>
            <td>{{ tiket[0].rId }}</td>
            <td>{{ tiket[0].tName }}</td>
            <td>{{ tiket[0].qName }}</td>
            <td>{{ tiket[0].rUserName }}</td>
            <td>{{ tiket[0].rIssue }}</td>
            <td>{{ tiket[0].aName }}</td>
            <td>{{ tiket[0].rsStatus }}</td>
            <td>
              <button
                (click)="ticketResponse(tiket[0].rId)"
                class="btn btn-danger"
              >
                Responder
              </button>
              <button
                (click)="deleteTicket(tiket[0].rId)"
                class="btn btn-danger"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td>{{ anonTicket[0].arId }}</td>
            <td>{{ anonTicket[0].tName }}</td>
            <td>{{ anonTicket[0].qName }}</td>
            <td></td>
            <td>{{ anonTicket[0].arIssue }}</td>
            <td>{{ anonTicket[0].aName }}</td>
            <td>{{ anonTicket[0].rsStatus }}</td>
            <td>
              <button
                (click)="ticketResponse(anonTicket[0].arId)"
                class="btn btn-danger"
              >
                Responder
              </button>
              <button
                (click)="deleteTicket(anonTicket[0].arId)"
                class="btn btn-danger"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
  </table>
</div>
