<div class="contenido1">
    <div class="buscar">
    <h1>Preguntas</h1>
    <button class="btnIndexC" type="submit">Añadir Preguntas</button>
  </div>
  
  <hr>
  <form class="row g-3">
    
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Pregunta</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Ubicación</label>
      <select id="inputState" class="form-select">
        <option selected>Tijera</option>
        <option>tijera</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Tema</label>
      <select id="inputState" class="form-select">
        <option selected>Comun</option>
        <option>tijera</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Estatus</label>
      <select id="inputState" class="form-select">
        <option selected>Activo</option>
        <option>Inactivo</option>
      </select>
    </div>
    
    
    <div class="col-12">
      <button class="btnIndexC" type="submit">Añadir</button>
    </div>
  </form>
    <hr>
      <form class="form-search">
        <input class="Search1" type="Search User" placeholder="Buscar" aria-label="Search">
        <button class="btnIndexC" type="submit">Buscar</button>
      </form>
      <hr>
      <table class="table table-dark table-sm">
        <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tema</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let question of questions">
            <td>{{ question.qId }}</td>
                      <td>{{ question.qName }}</td>
                      <td>{{ question.tName }}</td>
                      <td>{{ question.qStatus }}</td>
              <td>
                  <button class="btn btn-danger">Eliminar</button>
              </td>
          </tr>
      </tbody>
      </table>
</div>