<div class="contenido1">
  <div class="buscar">
    <h1>Preguntas</h1>
    <button class="btnIndexC" type="submit" onclick="mostrarContenido()">Añadir Preguntas</button>
  </div>

  <hr>

  <div id="contenido">
    <!-- Inifio Form -->
    <form [formGroup]="newQuestion" (ngSubmit)="addNewQuestion()" class="row g-3">
      <!-- Name -->
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Pregunta</label>
        <input formControlName="qName" type="email" class="form-control" id="inputEmail4">
      </div>
      <!-- Location -->
      <div class="col-md-6">
        <label for="inputState" class="form-label">Location</label>
        <select formControlName="Locations" #locationId id="inputState" class="form-select"
          (change)="onSelect(locationId.value)">
          <option *ngFor="let location of Locations" value="{{location.lId}}">{{location.lName}}</option>
        </select>
      </div>
      <!-- Tema -->
      <div class="col-md-6">
        <label for="inputState" class="form-label">Tema</label>
        <select formControlName="ThemeId" id="inputState" class="form-select">
          <option *ngFor="let them of Theme" value="{{them.tId}}">{{them.tName}}</option>
        </select>
      </div>
      <!-- Estatus -->
      <div class="col-md-6">
        <label for="inputState" class="form-label">Estatus</label>
        <select formControlName="qStatus" id="inputState" class="form-select">
          <option value=true selected>Activo</option>
          <option value=false>Inactivo</option>
        </select>
      </div>

      <!-- Boton registro -->
      <div class="col-12">
        <button [disabled]="newQuestion.invalid" class="btnIndexC" type="submit">Añadir</button>
      </div>
    </form>
    <div class="contentañadirTem">
      <button id="open" class="btnIndexC" type="submit">Añadir temas</button>
    </div>
    <!--Para el modal-->
    <div class="ModalContenido" id="ModalContenido">
      <div class="ModalContenido1">
        <h2>Agrega los temas de tu pregunta</h2>
        <h3>Nombre pregunta</h3>
        <div class="ModuloAgregar0">
          <div class="moduloAgregar">
            <div class="moduloAgregar1">
              <h2>Agregar un topico</h2>
              <button class="btnPregunta" type="submit">+</button>
            </div>

            <label for="inputState" class="form-label">Topico</label>
            <select id="inputState" class="form-select">
              <option>Topico 1</option>
              <option>Topico 1</option>
            </select>

          </div>
        </div>
        <div class="tablaagregar">
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th>Topico agregado</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>topico 1</td>
                <td><button class="btn btn-danger">Eliminar</button></td>

              </tr>

            </tbody>
          </table>
        </div>
        <button class="btnIndexC">Añadir</button>
        <button id="close" class="btn btn-danger">Cerrar</button>
      </div>

    </div>
    <!--Para el modal-->
    <!-- Fin Form -->
    <hr id="modalagregar">
    <form class="form-search">
      <input #idQuestion class="Search1" type="number" placeholder="Buscar" aria-label="Search">
      <button (click)="search(idQuestion.value)" class="btnIndexC" type="submit">Buscar</button>
    </form>
    <hr id="modalagregar1">
  </div>
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tema</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      <ng-container *ngIf="!question; else elseTemplate">
        <tr *ngFor="let question of questions">
          <td>{{ question.qId }}</td>
          <td>{{ question.qName }}</td>
          <td>{{ question.tName }}</td>
          <td>{{ question.qStatus }}</td>
          <td>
            <button (click)="deleteQuestion(question.qId)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr>
          <td>{{ question.qId }}</td>
          <td>{{ question.qName }}</td>
          <td>{{ question.tName }}</td>
          <td>{{ question.qStatus }}</td>
          <td>
            <button (click)="deleteQuestion(question.qId)" class="btn btn-danger">Responder</button>
            <button (click)="deleteQuestion(question.qId)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>