<div class="contenidoResp">
    <div class="tituloresp">
        <h1>Respuesta de folio</h1>
    </div>

    <div class="respTabla">
        <div class="contenedores">
            <div class="titulos">
                <p>Folio:</p>
            </div>
            <div class="textosContenido">
                <p>12345678</p>
            </div>
            <div class="titulos">
                <p>Fecha creacion :</p>
            </div>
            <div class="textosContenido">
                <p>09/02/1950</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Nombre supervisor:</p>
            </div>
            <div class="textosContenido">
                <p>Nombre supervisor</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Tipo Empleado:</p>
            </div>
            <div class="textosContenido">
                <p>Administrativo</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Nombre Empleado:</p>
            </div>
            <div class="textosContenido">
                <p>Anonimo</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Numero Empleado:</p>
            </div>
            <div class="textosContenido">
                <p>0</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Nave:</p>
            </div>
            <div class="textosContenido">
                <p>1</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Dias Transcurridos:</p>
            </div>
            <div class="textosContenido">
                <p>0</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Contenido:</p>
            </div>
            <div class="textosContenido">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Perspiciatis rerum praesentium voluptatum ut aliquid omnis magnam distinctio
                    quisquam architecto aut tempore, consequatur voluptate repudiandae voluptatem laboriosam
                    dolorum! Dolore, necessitatibus. Voluptates!consequatur voluptate repudiandae voluptatem
                    laboriosam dolorum! Dolore, necessitatibus. Voluptates!consequatur voluptate repudiandae
                    voluptatem laboriosam dolorum! Dolore, necessitatibus. Voluptates!consequatur voluptate
                    repudi</p>
            </div>
        </div>
        <div class="contenedores">
            <div class="titulos">
                <p>Evidencia:</p>
            </div>
            <div class="textosContenido">
                <p>false</p>
            </div>
        </div>


        <div class="respTabla1">
            <form action="">
                <div class="contenedores">
                    <div class="titulos1">
                        <p>Numero de empleado del encargado:</p>
                    </div>
                    <div class="textosContenido">
                        <input type="text" class="inputschidos" id="">
                    </div>
                    <div class="titulos1">
                        <p>Encargado:</p>
                    </div>
                    <div class="textosContenido">
                        <input type="text" class="inputschidos" id="">
                    </div>
                </div>

                <div class="contenedores">
                    <div class="titulos">
                        <p>Status:</p>
                    </div>
                    <div class="textosContenido">
                        <select class="form-select" id="validationCustom04" required>
                            <option>Activo</option>
                            <option>inactivo</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecciona una opción.
                        </div>
                    </div>
                </div>

                <div class="contenedores">
                    <div class="titulos">
                        <p>Respuesta:</p>
                    </div>
                    <div class="textosContenido">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>

                <div class="contenedores">
                    <div class="titulos">
                        <p>Adjunto:</p>
                    </div>
                    <div class="textosContenido">
                        <input class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                </div>

                <div class="contenedores">

                    <button class="BotonRespuesta">Guardar</button>



                </div>


            </form>
            <div class="contBotonCerrar"><button class="BotonRespuesta">Cerrar</button></div>

        </div>


    </div>

</div>