/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #0b254b;
    --light: #ffffff;
    --light-blue: #F5F6FA;
    --grey: #eff2f7;
  }
  
  body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
  }
  
  .text-muted {
    color: var(--primary) !important;
    opacity: .7;
  }
  
  .bg-light {
    background-color: var(--light) !important;
  }
  .alexiscolor{

    background: rgb(255, 205, 66) ;
  }
  


  .bg-light-blue {
    background-color: var(--light-blue) !important;
  }
  
  .shadow-sm {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
  }
  
  .shadow-hover {
    transition: 1s ease-in-out;
  }
  
  .shadow-hover:hover {
    transition: 1s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;
  }
  
  #sidebar-container {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-container .logo{
    padding: 0.875rem 1.25rem;
  }
  
  #sidebar-container .menu {
    width: 18rem;
  }
  
  #content-wrapper.toggled #sidebar-container {
    margin-left: 0;
  }
  
  .circle {
    width: 50px;
    height: 50px;
  }
  
  .badge {
    padding: .5rem 1rem;
  }
  
  .bg-primary, .badge-primary {
    background-color: rgba(0, 123, 255, .1) !important;
  }
  
  .avatar {
    max-width: 35px;
  }
  
  .btn-primary {
    background-color: rgba(0, 123, 255, .1) !important;
    border: 0;
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 123, 255, .2) !important;
  }
  
  .badge-secondary {
    background-color: var(--grey);
    color: var(--primary);
  }
  
  #content {
    overflow-y: auto;
    height: 100vh;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 .5rem;
  }
  
  table thead th {
    border: 0 !important;
  }
  
  table tbody tr {
    background-color: var(--light);
  }
  
  table tbody td {
    border-top: 0 !important;
    line-height: 1.2;
  }
  
  
  @media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -18rem;
    }
  }

  /* Pagina Logueo */

  body, html{
    height: 100%;
}
.BodyLogin{
    margin: 0;
    padding: 0;

    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 400px;
    padding: 40px;
    background: #ffffffb0;
    border-radius: 1em;
    text-align: center;
}

.form-title{

    text-transform: uppercase;
    font-weight: 300;
}
.form-img{
    width: 200px;
    border-radius: 100%;
}
.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type ="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 1.5em;
    width: 250px;
    outline: none;
    color: black;

    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width: 280px;
    border-color: #e2ae3e;
}

.form-box button[type="submit"]{
    border: 0;
    background: #e2ae3e ;
    border-radius: 0.5 ;
    cursor: pointer;
    width: 200px;

}
.form-box button[type="submit"]:hover{
    background: #e2ae3e54;

}

@media screen {
    
}


/*      Pagina Index         */
.BodyIndexC{
    margin: 0;
    padding: 0;

    background-image: url(img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

.headerIndexC{
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;;
    background: #00000088;
    
}
.h1CensoB{
    color: #e2ae3e;
    font-weight: 300;
}
.imgLogoIndexC{
background-image: url(img/LogoConti.png);
 width: 9.5%;
}
.headerIndexC button[type="submit"]:hover{
    background: none;
    border: 1px solid #000000;
    border-color: #e2ae3e;
    color: white;

}
.btnIndexC:hover{
    background: none;
    border: 1px solid #000000;
    border-color: #e2ae3e;
    color: white;

}
.btnIndexC{
    border: 0;
    background: #e2ae3e ;
    border-radius: 0.5 ;
    cursor: pointer;
    border-radius: 2em;
    width: 150px;
    height: 40px;

    transition: 0.25s;
}
.contenedorIndexC{

    width: 90%;
    margin: 40px auto;
    padding-top: 40px;
    background: rgba(255, 255, 255, 0.904);
    border-radius: 1em;
    text-align: center;
    align-items: center;

}
.imgBienestarC{

    border-radius: 2em;

}
.footerIndexC{
    width: 90%;
    margin: 40px auto;
    padding-top: 0px;
    padding-bottom: 40px;
    background: none;
    border-radius: 1em;
    text-align: center;
    align-items: center;
}

.imgJaliscoC{
    border-radius: 1.5em;
}
.contenedorIndexC1{

    width: 90%;
    margin: 40px auto;
    padding-top: 40px;
    background: rgba(255, 255, 255, 0.904);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
.btnIndexOPC{
    border: 0;
    background: #e2ae3e ;
    border-radius: 0.5 ;
    cursor: pointer;
    border-radius: 2em;
    width: 300px;
    height: 50px;

    transition: 0.25s;
}
.contenedorIndexC button[type="submit"]{
    font-size: 20px;
    color: black;

}

.contenedorIndexC button[type="submit"]:hover{
    background: none;
    border-color: #e2ae3e;
    background: #e2ae3e8f;

}

.hr {
    margin: 40px auto;
    width: 90%;
}

.ContendorPageAngular{
    background: none;
    width: 90%;
    margin: 40px auto;
    padding: 15px;
    border-radius: 1em;

    font-size: 20px;
    color: #cc9d38;

}

.ContendorPageAngular1{
    background: rgba(255, 255, 255, 0.959);
    border-radius: 3em;
    width: 50%;
    margin: 40px auto;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.103);
}

.btnIndexC1{
    border: 0;
    background: #e2ae3e ;
    border-radius: 0.5 ;
    cursor: pointer;
    border-radius: 2em;
    width: 250px;
    height: 40px;


    transition: 0.25s;
}
.btnIndexC1:hover{
    background: #e2ae3e8e ;
    

}

.Content-btn-folio{
    background: rgba(255, 255, 255, 0.904);
    width: 50%;
    margin: 40px auto;
    padding: 15px;
    border-radius: 1em;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.103);
    font-size: 20px;
    font-weight: 400;
    color: #cc9d38;

}
.Content-btn-folio2{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #cc9d38;
    display: flex;
    justify-content: space-between;

}

.content-titulo{
    background: rgba(255, 255, 255, 0.904);
    width: 35%;
    margin: 40px auto;
    padding: 15px;
    border-radius: 1em;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.103);
    font-size: 20px;
    font-weight: 400;
    color: #cc9d38;

}
.content-titulo1{
    width: 30%;
    margin: 40px auto;
    padding: 15px;
    border-radius: 1em;
    font-size: 70px;
    font-weight: 400;
    color: white;
    justify-content: center;

}


/*      FIN Pagina Index         */

/*      FIN Pagina Buscar         */
.ContendorPageBusqueda{
    background: rgba(255, 255, 255, 0.904);
    width: 80%;
    margin: 40px auto;
    margin-top: -400px;
    padding: 15px;
    padding-top: 1em;
    border-radius: 1em;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.103);
    font-size: 20px;
    font-weight: 400;
    color: #cc9d38;
    overflow-y: scroll;

}


/*      FIN Pagina Buscar         */

/*      Dashboard        */
.Bodydashboard{
    margin: 0;
    padding: 0;

    background-image: url(img/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.headerDash{
    background: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.imgLogoDash{
    width: 10.1%;
    height: 80px;

}
.leftDash{
    background: rgba(223, 223, 223, 0.822);
    width: 10%;
    height: 108%;
    margin-top: -33px;



}
.options{
    padding-top: 10px;
    margin-top: -10px;
    align-items: center;
}
.options ul{
    padding:0;
    margin: 0;

}
.options ul li{
    list-style: none;
    
}
.options button[type="submit"]:hover{
    background: #e2ae3e ;
    border: 1px solid #000000;
    border-color: #e2ae3e;

}
.btnDash{
    background: none;
    cursor: pointer;
    border: 0;
    margin-top: 1px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: black;
    
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    transition:  0.25s;

}

.hr1{
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.NomUsuario{
    width: 90%;
    background: none;
    border-radius: 0.8em;
    margin: 10px auto;
    text-align: center;
}
.contenedorFlex{
    background: none;
    width: 100%;
    height: 85%;
    display: flex;
    
}
.Contenido{
    background: rgba(223, 223, 223, 0.822);
    margin: 30px auto;
    margin-top: -10px;
    border-radius: 1em;
    width: 85%;
    height: 104%;
    overflow-y: scroll;
}

.contenido1{
    background: none;
    width: 85%;
    margin: 40px auto;
    margin-top: 80px;

}

.buscar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.form-search{
    width: 100%;
    display: flex;
    justify-content:right;

}
.Search1{
    width: 20%;
    border-color: none;
    border: 0;
    border-radius: 10px;
}

/*      Dashboard        */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
