<div class="contenido1">
    <div class="buscar">
    <h1>Usuarios</h1>
    <button class="btnIndexC" type="submit">Añadir Usuario</button>
  </div>
  <hr>
  <!-- Iniio del Form -->
  <form [formGroup]="newUser" (ngSubmit)="addNewUser()" class="row g-3">
    <h1>Añadir Usuario</h1>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">ID</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Rol</label>
      <select id="inputState" class="form-select">
        <option selected>Activo</option>
        <option>Inactivo</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Estatus</label>
      <select id="inputState" class="form-select">
        <option selected>Activo</option>
        <option>Inactivo</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Ubicación</label>
      <select id="inputState" class="form-select">
        <option selected>Tijera</option>
        <option>tijera</option>
      </select>
    </div>
    
    <div class="col-12">
      <button class="btnIndexC" type="submit">Añadir</button>
    </div>
  </form>
  <hr>
    
      <form class="form-search">
        <input class="Search1" type="Search User" placeholder="Buscar" aria-label="Search">
        <button class="btnIndexC" type="submit">Buscar</button>
      </form>
      <hr>
      <table class="table table-dark table-sm">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Rol</th>
                  <th>Estatus</th>
                  <th>Ubicación</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of Users">
                <td>{{ user.uId }}</td>
                <td>{{ user.uName }}</td>
                <td>{{ user.uEmail }}</td>
                <td>{{ user.uRol }}</td>
                <td>{{ user.uStatus }}</td>
                <td>{{ user.lName }}</td>
                  <td>
                      <button class="btn btn-danger">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  
  
  
</div>