<body class="BodyIndexC">
  <header>
    <div class="headerIndexC">
    <img src="img/LogoConti.png" alt="Continental" class="imgLogoIndexC">
    <h1 class="h1CensoB">CENSO Bienestar</h1>
    <div>
    <button class="btnIndexC" type="submit">Cerrar sesión</button>
  </div>
</div>
</header>
    
        <div class="ContendorPageAngular0">
            
          <div class="content-titulo1">
            <p>Bienvenido</p>
            
            <h3>Usuario</h3>
            <hr>
          </div>
          <div class="content-titulo">
            
          <div class="Content-btn-folio2">
            
            <button class="btnIndexC1" type="submit">Crear Folio</button>
            <button class="btnIndexC1" type="submit">Consultar Folio</button>
          </div>
        </div>
        
            <div class="ContendorPageAngular1">
                <div class="ContendorPageAngular">

                  <!-- Inicio del FORM 
                  el form se enlaza con la variable bodyRequest del Component por medio de [formGroup]
                  se llama al método registerRequest por medio de la directiva (ngSubmit)-->
                  <form [formGroup]="bodyRequest" (ngSubmit)="registerRequest()" class="row g-3 needs-validation" novalidate>
                      
                    <!-- ********* Nombre empleado ******** -->
                     <!-- cada campo esta reacionado con una variable en el Componen llamada igual que
                      el contenido de formControlName -->
                      <label for="validationCustom04" class="form-label">Nombre Empleado</label>
                      <input value="Nombre" class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

                    <div class="md-3">
                      <!-- ******** tipo de empleado ********** -->
                      <label for="validationCustom04" class="form-label">Tipo de Empleado(a)</label>
                      <select formControlName="rEmployeeType" class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Administrativo</option>
                        <option value="2">Sindicalizado</option>
                      </select>
                      <div class="invalid-feedback">
                        Selecciona una opcion.
                      </div>
                    </div>
                  <!--Alexis cambio tema-->
                    <div class="md-3">
                      <label for="validationCustom04" class="form-label">Tema</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option >Administrativo</option>
                        <option>Sindicalizado</option>
                      </select>
                      <div class="invalid-feedback">
                        Selecciona una opción.
                      </div>
                    </div>
    
                    <div class="md-3">
                        <!-- *********** tipo de registro ************ -->
                        <label for="validationCustom04" class="form-label">Tipo de registro</label>
                        <select formControlName="QuestionId" class="form-select" id="validationCustom04" required>
                          <option *ngFor="let question of questions" value="{{question.qId}}">{{question.qName}}</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecciona una opcion.
                        </div>
                      </div>
                    
                      <div class="mb-3">
                        <!-- ************ nave del trabajador ***************** -->
                        <label for="validationCustom04" class="form-label">Area</label>
                        <select formControlName="AreaId" class="form-select" id="validationCustom04" required>
                          <option selected disabled value="">1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>Anónimo</option>
                        </select>
                        <div class="invalid-feedback">
                            Selecciona una opcion.
                        </div>
                      </div>
    
                      <div class="mb-3">
                        <!-- ************* contenido de la solicitud ************** -->
                        <label for="exampleFormControlTextarea1" class="form-label">¿Qué necesitas decirnos?</label>
                        <textarea formControlName="rIssue" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
    
                      <div>
                        <!-- ************ archivo de evidencia ************** -->
                        <label for="formFileLg" class="form-label">Evidencia (Opcional)</label>
                        <input formControlName="rAttachement" class="form-control form-control-lg" id="formFileLg" type="file">
                      </div>
    
                    <div class="col-12">

                      <div class="form-check">
                        <!-- ******************* terminos y condicionees ******************* -->
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            He leido el presente aviso de privacidad y acepto el tratamiento de mis datos personales por Continental.
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <!-- **************** botón de envio del formulario **************** -->
                    <div class="col-12">
                      <!-- validacion de contenido de formulario valido -->
                      <button [disabled]="bodyRequest.invalid" class="btnIndexC1" type="submit">Crear folio de reporte</button>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
    <footer class="footerIndexC">
       
    </footer>
</body>